.input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #ffffff;
    transition: 0.3s;
   }
   
   .input:focus {
    outline-color: #ffffff;
    background: #9c9c9c;
    transition: 0.3s;
   }
body{
    background-color: rgb(88, 88, 88);
    color: rgb(194, 194, 194);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #5a5a5a 0%, #3d3d3d 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 3em;
    border-radius: 0.5em;
    color: rgb(0, 0, 0);
    height: 2.5em;
  
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 1s ease, transform 1s ease;
  }
  
  button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #000000;
    transform: translateY(-0.1em);
  }
  
  button:active {
    box-shadow: inset 0px 0.1em 0.6em #000000;
    transform: translateY(0em);
  }

  